# **IAA - PRÀCTICA: MAIN**

**Instal·lar llibreries necessàries**

In [ ]:
%pip install -r ../assets/requirements.txt

**Importar llibreries**

In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
from ucimlrepo import fetch_ucirepo

**Llegir les dades (Cirrhosis Dataset)**

In [124]:
# Fetch dataset
cirrhosis_patient_survival_prediction = fetch_ucirepo(id=878)

data = pd.DataFrame(cirrhosis_patient_survival_prediction.data.original)

# Guardem el dataset per poder-lo visualitzar sencer
data.to_csv('../assets/data/raw_cirrhosis.csv')

**Informació del dataset inicial**

In [125]:
data.shape

(418, 20)

In [126]:
data.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261,2.60,156,1718.0,137.95,172,190,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302,4.14,54,7394.8,113.52,88,221,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176,3.48,210,516.0,96.10,55,151,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244,2.54,64,6121.8,60.63,92,183,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279,3.53,143,671.0,113.15,72,136,10.9,3.0

In [127]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             418 non-null    int64
 1   N_Days         418 non-null    int64
 2   Status         418 non-null    object
 3   Drug           313 non-null    object
 4   Age            418 non-null    int64
 5   Sex            418 non-null    object
 6   Ascites        313 non-null    object
 7   Hepatomegaly   313 non-null    object
 8   Spiders        313 non-null    object
 9   Edema          418 non-null    object
 10  Bilirubin      418 non-null    float64
 11  Cholesterol    312 non-null    object
 12  Albumin        418 non-null    float64
 13  Copper         312 non-null    object
 14  Alk_Phos       312 non-null    float64
 15  SGOT           312 non-null    float64
 16  Tryglicerides  312 non-null    object
 17  Platelets      411 non-null    object
 18  Prothrombin    416 non-null    float64
 19  Stage          412 non-null    float64
dtypes: float64(6), int64(3), object(11)
memory usage: 65.4+ KB

**Preprocessing inicial**

In [128]:
# Reemplaçar l'string 'NaNN' per NaN
data.replace('NaNN', pd.NA, inplace=True)
data.fillna(pd.NA, inplace=True)

In [129]:
data.head(-10)

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261,2.60,156,1718.0,137.95,172,190,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302,4.14,54,7394.8,113.52,88,221,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176,3.48,210,516.0,96.10,55,151,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244,2.54,64,6121.8,60.63,92,183,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279,3.53,143,671.0,113.15,72,136,10.9,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,404,1092,C,<NA>,14610,F,<NA>,<NA>,<NA>,N,4.6,NaN,3.60,NaN,NaN,NaN,<NA>,337,10.4,3.0
404,405,1150,C,<NA>,18993,F,<NA>,<NA>,<NA>,N,1.0,NaN,3.64,NaN,NaN,NaN,<NA>,340,10.6,3.0
405,406,703,D,<NA>,16802,F,<NA>,<NA>,<NA>,N,4.5,NaN,2.68,NaN,NaN,NaN,<NA>,219,11.5,4.0
406,407,1129,C,<NA>,19724,M,<NA>,<NA>,<NA>,N,1.1,NaN,3.69,NaN,NaN,NaN,<NA>,220,10.8,3.0
407,408,1086,C,<NA>,18628,F,<NA>,<NA>,<NA>,S,1.9,NaN,3.17,NaN,NaN,NaN,<NA>,162,10.7,3.0

In [130]:
# Assignem els tipus de dades correctes a cada columna
data['ID'] = data['ID'].astype('category')
data['N_Days'] = data['N_Days'].astype('Int64')
data['Status'] = data['Status'].astype('category')
data['Drug'] = data['Drug'].astype('category')
data['Age'] = data['Age'].astype('Int64')
data['Sex'] = data['Sex'].astype('category')
data['Ascites'] = data['Ascites'].astype('category')
data['Hepatomegaly'] = data['Hepatomegaly'].astype('category')
data['Spiders'] = data['Spiders'].astype('category')
data['Edema'] = data['Edema'].astype('category')
data['Bilirubin'] = data['Bilirubin'].astype('float')
data['Cholesterol'] = data['Cholesterol'].astype('Int64')
data['Albumin'] = data['Albumin'].astype('float')
data['Copper'] = data['Copper'].astype('Int64')
data['Alk_Phos'] = data['Alk_Phos'].astype('float')
data['SGOT'] = data['SGOT'].astype('float')
data['Tryglicerides'] = data['Tryglicerides'].astype('Int64')
data['Platelets'] = data['Platelets'].astype('Int64')
data['Prothrombin'] = data['Prothrombin'].astype('float')
data['Stage'] = data['Stage'].astype('category')

In [131]:
data.to_csv('../assets/data/preprocessed_cirrhosis.csv')

**Anàlisis de les variables**

In [132]:
data.head(-10)

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261,2.60,156,1718.0,137.95,172,190,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302,4.14,54,7394.8,113.52,88,221,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176,3.48,210,516.0,96.10,55,151,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244,2.54,64,6121.8,60.63,92,183,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279,3.53,143,671.0,113.15,72,136,10.9,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,404,1092,C,NaN,14610,F,NaN,NaN,NaN,N,4.6,<NA>,3.60,<NA>,NaN,NaN,<NA>,337,10.4,3.0
404,405,1150,C,NaN,18993,F,NaN,NaN,NaN,N,1.0,<NA>,3.64,<NA>,NaN,NaN,<NA>,340,10.6,3.0
405,406,703,D,NaN,16802,F,NaN,NaN,NaN,N,4.5,<NA>,2.68,<NA>,NaN,NaN,<NA>,219,11.5,4.0
406,407,1129,C,NaN,19724,M,NaN,NaN,NaN,N,1.1,<NA>,3.69,<NA>,NaN,NaN,<NA>,220,10.8,3.0
407,408,1086,C,NaN,18628,F,NaN,NaN,NaN,S,1.9,<NA>,3.17,<NA>,NaN,NaN,<NA>,162,10.7,3.0

In [133]:
data.isna().sum().sort_values(ascending=False)

Tryglicerides    136
Cholesterol      134
Copper           108
Drug             106
Ascites          106
Hepatomegaly     106
Spiders          106
SGOT             106
Alk_Phos         106
Platelets         11
Stage              6
Prothrombin        2
ID                 0
Albumin            0
N_Days             0
Edema              0
Sex                0
Age                0
Status             0
Bilirubin          0
dtype: int64

In [134]:
data.describe()

,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin
count,418.0,418.0,418.000000,284.0,418.000000,310.0,312.000000,312.000000,282.0,407.0,416.000000
mean,1917.782297,18533.351675,3.220813,369.510563,3.497440,97.648387,1982.655769,122.556346,124.702128,257.02457,10.731731
std,1104.672992,3815.845055,4.407506,231.944545,0.424972,85.61392,2140.388824,56.699525,65.148639,98.325585,1.022000
min,41.0,9598.0,0.300000,120.0,1.960000,4.0,289.000000,26.350000,33.0,62.0,9.000000
25%,1092.75,15644.5,0.800000,249.5,3.242500,41.25,871.500000,80.600000,84.25,188.5,10.000000
50%,1730.0,18628.0,1.400000,309.5,3.530000,73.0,1259.000000,114.700000,108.0,251.0,10.600000
75%,2613.5,21272.5,3.400000,400.0,3.770000,123.0,1980.000000,151.900000,151.0,318.0,11.100000
max,4795.0,28650.0,28.000000,1775.0,4.640000,588.0,13862.400000,457.250000,598.0,721.0,18.000000

In [135]:
data.describe(include='category')

,ID,Status,Drug,Sex,Ascites,Hepatomegaly,Spiders,Edema,Stage
count,418,418,312,418,312,312,312,418,412.0
unique,418,3,2,2,2,2,2,3,4.0
top,1,C,D-penicillamine,F,N,Y,N,N,3.0
freq,1,232,158,374,288,160,222,354,155.0

**Partició del dataset**

**Imputar els valors faltants (Missings)**

**1r Model: K-Nearest Neighbors (KNN)**

**2n Model: Decision Tree**

**3r Model: Support Vector Machine (SVM)**